
server:
  port: 8888

spring:
  application:
    name: config-service

  profiles:
    active: composite

  cloud:
    config:
      server:
        composite:
          - type: native
            search-locations: classpath:/shared
